{{ 'section-shop-by-bed-type.css' | asset_url | stylesheet_tag }}

{%- schema -%}
{
  "name": "Custom Collections",
  "settings": [
    {
      "type": "collection",
      "label": "Select Collection 1",
      "id": "collection1"
    },
    {
      "type": "collection",
      "label": "Select Collection 2",
      "id": "collection2"
    },
    {
      "type": "collection",
      "label": "Select Collection 3",
      "id": "collection3"
    },
    {
      "type": "collection",
      "label": "Select Collection 4",
      "id": "collection4"
    }
  ]
}
{%- endschema -%}

<div class="custom-collections">
  {%- for i in (1..4) -%}
    {% assign collectionId = settings["collection"] | append: i %}
    {%- assign collection = collections[collectionId] -%}
    <h3>{{ collection }} }}</h3>
    {%- if collection -%}
      <div class="collection-box">
        <a href="{{ collection.url }}">
          <img src="{{ collection.image.src | image_url: 'original' }}" alt="{{ collection.title }}" width="200" height="200">
          <h3>{{ collection.title }}</h3>
        </a>
      </div>
    {%- endif -%}
  {%- endfor -%}
</div>
