{{ 'section-shop-by-bed-type.css' | asset_url | stylesheet_tag }}

{%- schema -%}
{
  "name": "Custom Collections",
  "settings": [
    {
      "type": "text",
      "label": "Section Title",
      "id": "section_title",
      "default": "Shop by Bed Type"
    },
    {
      "type": "text",
      "label": "Section Subtitle",
      "id": "section_subtitle",
      "default":"add subtitle here"
    },
     {
      "type": "color",
      "label": "Background Color",
      "id": "background_color"
    },
    {
      "type": "collection",
      "label": "Select Collection 1",
      "id": "collection1"
    },
    {
      "type": "collection",
      "label": "Select Collection 2",
      "id": "collection2"
    },
    {
      "type": "collection",
      "label": "Select Collection 3",
      "id": "collection3"
    },
    {
      "type": "collection",
      "label": "Select Collection 4",
      "id": "collection4"
    }
  ]
}
{%- endschema -%}

<div class="custom-collections">
  <div class="section-header">
    <h2 class="section-title">{{ section.settings.section_title }}</h2>
    <p class="section-subtitle">{{ section.settings.section_subtitle }}</p>
  </div>

  {%- for i in (1..4) -%}
    {%- assign collectionId = section.settings["collection"] | append: i -%}
    {%- assign collection = collections[collectionId] -%}
    {%- if collection -%}
      <div class="collection-box">
        <a href="{{ collection.url }}">
          <img src="{{ collection.image.src | image_url: 'original' }}" alt="{{ collection.title }}" width="200" height="200">
          <h3>{{ collection.title }}</h3>
        </a>
      </div>
    {%- endif -%}
  {%- endfor -%}
</div>


<style>
  .custom-collections {
    background-color: {{ settings.background_color }};
  }
</style>