{{ 'section-shop-by-colour.css' | asset_url | stylesheet_tag }}

{%- schema -%}
{
  "name": "Shop by Colour",
  "settings": [
    {
      "type": "text",
      "label": "Section Title",
      "id": "section_title",
      "default": "Shop by Colour"
    },
    {
      "type": "text",
      "label": "Section Subtitle",
      "id": "section_subtitle",
      "default": "custom subtitle here"
    },
    {
      "type": "color",
      "label": "Background Color",
      "id": "background_color"
    },
    {
      "type": "collection",
      "label": "Select Collection 1",
      "id": "collection1"
    },
    {
      "type": "collection",
      "label": "Select Collection 2",
      "id": "collection2"
    },
    {
      "type": "collection",
      "label": "Select Collection 3",
      "id": "collection3"
    },
    {
      "type": "collection",
      "label": "Select Collection 4",
      "id": "collection4"
    }
  ]
}
{%- endschema -%}


<div class="colour-collections">
  <div class="section-header">
    <h2>{{ section.settings.section_title }}</h2>
    <p>{{ section.settings.section_subtitle }}</p>
  </div>

  {%- for i in (1..4) -%}
    {%- assign collectionId = "collection" | append: i -%}
    {%- assign handle = section.settings[collectionId] -%}
    {%- assign collection = collections[handle] -%}
    {{ "Debug: collectionId - " | append: collectionId | debug }}
    {{ "Debug: collection - " | append: collection | debug }}
    {%- if collection.products.size > 0 -%}
      {%- assign product = collection.products.first -%}
      {%- if product.featured_image -%}
        <div class="collection-box">
            <img src="{{ product.featured_image.src | image_url: collection.products.first.images.first.src }}" alt="{{ product.title }}" width="200" height="200">
          <p>{{ collection.title }}</p>
        </div>
      {%- else -%}
        {{ "Debug: No featured image found for product in collection for collectionId - " | append: collectionId | debug }}
      {%- endif -%}
    {%- else -%}
      {{ "Debug: No products found in collection for collectionId - " | append: collectionId | debug }}
    {%- endif -%}
  {%- endfor -%}
</div>


<style>
  .predefined-collections {
    background-color: {{ section.settings.background_color }};
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px;
  }

  .collection-box {
    display: inline-block;
    margin-right: 20px;
  }

  .collection-box img {
    max-width: 100%;
    height: auto;
  }
</style>