{{ 'section-shop-by-bed-type.css' | asset_url | stylesheet_tag }}

{%- schema -%}
{
  "name": "Custom Collections",
  "settings": [
    {
      "type": "collection",
      "label": "Select Collection 1",
      "id": "collection1",
      "default": null
    },
    {
      "type": "collection",
      "label": "Select Collection 2",
      "id": "collection2",
      "default": null
    },
    {
      "type": "collection",
      "label": "Select Collection 3",
      "id": "collection3",
      "default": null
    },
    {
      "type": "collection",
      "label": "Select Collection 4",
      "id": "collection4",
      "default": null
    }
  ]
}
{%- endschema -%}

<div class="custom-collections">
  {% for i in (1..4) %}
    {% assign collectionId = settings["collection" | append: i] %}
    {% if collectionId %}
      {% assign collection = collections[collectionId] %}
      <div class="collection-box">
        <a href="{{ collection.url }}">
          <img src="{{ collection.image.src | img_url: 'medium' }}" alt="{{ collection.title }}">
          <h3>{{ collection.title }}</h3>
        </a>
      </div>
    {% endif %}
  {% endfor %}
</div>
